@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important; /* Prevent horizontal scrolling */
}

/* Code styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Section styles */
section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

/* Link styles */
a {
  text-decoration: none;
  color: black;
}

/* List styles */
li {
  list-style: none;
}

/* Form input and button styles */
input,
button {
  border: none;
  outline: none;
  background-color: none;
}

/* Heading styles */
.heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading h1 {
  width: fit-content;
  text-align: center;
  margin: 20px auto 30px !important;
}

/* Container for images */
.images-container {
  display: flex;
}

/* Form styles */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container header {
  text-align: center;
  margin-bottom: 20px;
}

.set {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pets-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pets-name label {
  margin-bottom: 5px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 24px;
  }
}

/* WhatsApp button styles */
.whatsapp-button {
  background-color: #25d366;
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}
